# Azure AI Foundry settings, if AI Foundry is used as the LLM provider
AZURE_AI_RESOURCE_NAME="<your-ai-foundry-resource>"
AZURE_AI_API_VERSION="2024-04-01-preview"  # Unless set, defaults to this value
AZURE_AI_CHAT_DEPLOYMENT="gpt-4.1-mini"  # Unless set, defaults to this value

# OpenAI settings, if OpenAI is used as the LLM provider
OPENAI_API_KEY="<Your OpenAI API key>"
OPEN_AI_MODEL="gpt-4.1-mini"  # Unless set, defaults to this value

# VLLM settings, if VLLM is used as the LLM provider
VLLM_API_BASE="http://localhost:8090/v1"  # Unless set, defaults to this value
VLLM_API_KEY="EMPTY"  # By default, the local VLLM does not require an API key
VLLM_MODEL="qwen3-coder-next"  # Unless set, defaults to this value

# Selection of the used provider
LLM_PROVIDER="vllm"  # Unless set, defaults to this value

# The Work Tracker MCP Server connection
MCP_SERVER_URL="http://localhost:8484/mcp"  # Unless set, defaults to this value
